@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap&subset=latin,cyrillic,hebrew");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #faf3e8;
  --brown-dark: #781d19;
  --brown-light: #c29b77;
  --white: #ffffff;
  --black: #000;
  --text: #28180a;
  --muted: #a29e8c;
  --danger: #c40700;
}

::selection {
  background: #ffdc6b;
  color: #000;
}

body {
  @apply bg-[var(--background)] text-[var(--text)] font-sans overflow-auto;
}

#root {
  height: 100%;
}

.font-sans {
  font-family: "Noto Sans", Arial, sans-serif;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: var(--background);
}

::-webkit-scrollbar-thumb {
  background-color: var(--muted);
  border-radius: 6px;
  border: 3px solid #f1f1f1;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}
